In [66]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline
from denn import *
import pandas as pd
import seaborn as sns
import io #Used as buffer

In [67]:
nn_p=5
nn_w = 5
nn_tw = 1
m = 'nn_time'

In [68]:
df = get_data(m,  isnn = True)

In [69]:
df = df[(df['nnw']==str(nn_w))&(df['nntw']==str(nn_tw))&(df['nnp']==str(nn_p))|(df['isnn']==False)]

In [70]:
df = df.sort_values('method')

In [71]:
df.rename({'0':m}, axis=1, inplace=True)

In [72]:
df

      nn_time experiment    function  freq nnw nnp nntw     method  isnn
119  0.011823       exp3      sphere  10.0   5   5    1  NN_nn_CwN  True
164  0.003679       exp3  rosenbrock  30.0   5   5    1  NN_nn_CwN  True
298  0.106107       exp4   rastrigin   1.0   5   5    1  NN_nn_CwN  True
337  0.011712       exp2      sphere  10.0   5   5    1  NN_nn_CwN  True
334  0.108272       exp2      sphere   1.0   5   5    1  NN_nn_CwN  True
264  0.010820       exp4  rosenbrock  10.0   5   5    1  NN_nn_CwN  True
261  0.108032       exp4  rosenbrock   1.0   5   5    1  NN_nn_CwN  True
56   0.003657       exp1  rosenbrock  30.0   5   5    1  NN_nn_CwN  True
382  0.003700       exp2  rosenbrock  30.0   5   5    1  NN_nn_CwN  True
260  0.005294       exp4  rosenbrock  20.0   5   5    1  NN_nn_CwN  True
301  0.010794       exp4   rastrigin  10.0   5   5    1  NN_nn_CwN  True
333  0.005405       exp2      sphere  20.0   5   5    1  NN_nn_CwN  True
174  0.002783       exp3  rosenbrock  40.0   5   5    1  NN_nn_CwN  True
251  0.021002       exp4      sphere   5.0   5   5    1  NN_nn_CwN  True
47   0.010788       exp1  rosenbrock  10.0   5   5    1  NN_nn_CwN  True
102  0.002749       exp1   rastrigin  40.0   5   5    1  NN_nn_CwN  True
373  0.011403       exp2  rosenbrock  10.0   5   5    1  NN_nn_CwN  True
297  0.007278       exp4   rastrigin  20.0   5   5    1  NN_nn_CwN  True
370  0.107724       exp2  rosenbrock   1.0   5   5    1  NN_nn_CwN  True
66   0.002698       exp1  rosenbrock  40.0   5   5    1  NN_nn_CwN  True
346  0.003658       exp2      sphere  30.0   5   5    1  NN_nn_CwN  True
83   0.011239       exp1   rastrigin  10.0   5   5    1  NN_nn_CwN  True
283  0.002647       exp4  rosenbrock  40.0   5   5    1  NN_nn_CwN  True
288  0.021128       exp4  rosenbrock   5.0   5   5    1  NN_nn_CwN  True
80   0.107633       exp1   rastrigin   1.0   5   5    1  NN_nn_CwN  True
79   0.005540       exp1   rastrigin  20.0   5   5    1  NN_nn_CwN  True
92   0.003643       exp1   rastrigin  30.0   5   5    1  NN_nn_CwN  True
143  0.022096       exp3      sphere   5.0   5   5    1  NN_nn_CwN  True
356  0.002757       exp2      sphere  40.0   5   5    1  NN_nn_CwN  True
152  0.108589       exp3  rosenbrock   1.0   5   5    1  NN_nn_CwN  True
..        ...        ...         ...   ...  ..  ..  ...        ...   ...
372  0.108962       exp2  rosenbrock   1.0   5   5    1  NN_nn_Rst  True
117  0.010754       exp3      sphere  10.0   5   5    1  NN_nn_Rst  True
112  0.005446       exp3      sphere  20.0   5   5    1  NN_nn_Rst  True
225  0.010911       exp4      sphere  10.0   5   5    1  NN_nn_Rst  True
366  0.005582       exp2  rosenbrock  20.0   5   5    1  NN_nn_Rst  True
68   0.002682       exp1  rosenbrock  40.0   5   5    1  NN_nn_Rst  True
226  0.115231       exp4      sphere   1.0   5   5    1  NN_nn_Rst  True
362  0.021876       exp2      sphere   5.0   5   5    1  NN_nn_Rst  True
72   0.021815       exp1  rosenbrock   5.0   5   5    1  NN_nn_Rst  True
358  0.002694       exp2      sphere  40.0   5   5    1  NN_nn_Rst  True
76   0.005441       exp1   rastrigin  20.0   5   5    1  NN_nn_Rst  True
81   0.010807       exp1   rastrigin  10.0   5   5    1  NN_nn_Rst  True
351  0.002187       exp2      sphere  50.0   5   5    1  NN_nn_Rst  True
82   0.109698       exp1   rastrigin   1.0   5   5    1  NN_nn_Rst  True
199  0.003587       exp3   rastrigin  30.0   5   5    1  NN_nn_Rst  True
345  0.003607       exp2      sphere  30.0   5   5    1  NN_nn_Rst  True
248  0.002674       exp4      sphere  40.0   5   5    1  NN_nn_Rst  True
97   0.002175       exp1   rastrigin  50.0   5   5    1  NN_nn_Rst  True
336  0.110311       exp2      sphere   1.0   5   5    1  NN_nn_Rst  True
335  0.010820       exp2      sphere  10.0   5   5    1  NN_nn_Rst  True
330  0.005441       exp2      sphere  20.0   5   5    1  NN_nn_Rst  True
190  0.116443       exp3   rastrigin   1.0   5   5    1  NN_nn_Rst  True
104  0.002671       exp1   rastrigin  40.0   5   5    1  NN_nn_Rst  True
326  0.021474       exp4   rastrigin   5.0   5   5    1  NN_nn_Rst  True
212  0.002705       exp3   rastrigin  40.0   5   5    1  NN_nn_Rst  True
108  0.021973       exp1   rastrigin   5.0   5   5    1  NN_nn_Rst  True
235  0.003580       exp4      sphere  30.0   5   5    1  NN_nn_Rst  True
322  0.002669       exp4   rastrigin  40.0   5   5    1  NN_nn_Rst  True
315  0.002195       exp4   rastrigin  50.0   5   5    1  NN_nn_Rst  True
91   0.004926       exp1   rastrigin  30.0   5   5    1  NN_nn_Rst  True

[408 rows x 9 columns]

# Table

In [73]:
# df=get_data('nn_time', normalize=False)
df['function']=df['function'].str.title()
df.head()

      nn_time experiment    function  freq nnw nnp nntw     method  isnn
119  0.011823       exp3      Sphere  10.0   5   5    1  NN_nn_CwN  True
164  0.003679       exp3  Rosenbrock  30.0   5   5    1  NN_nn_CwN  True
298  0.106107       exp4   Rastrigin   1.0   5   5    1  NN_nn_CwN  True
337  0.011712       exp2      Sphere  10.0   5   5    1  NN_nn_CwN  True
334  0.108272       exp2      Sphere   1.0   5   5    1  NN_nn_CwN  True

In [74]:
df['nn_time'] = df['nn_time']*100

In [75]:
df.head()

       nn_time experiment    function  freq nnw nnp nntw     method  isnn
119   1.182265       exp3      Sphere  10.0   5   5    1  NN_nn_CwN  True
164   0.367861       exp3  Rosenbrock  30.0   5   5    1  NN_nn_CwN  True
298  10.610703       exp4   Rastrigin   1.0   5   5    1  NN_nn_CwN  True
337   1.171182       exp2      Sphere  10.0   5   5    1  NN_nn_CwN  True
334  10.827174       exp2      Sphere   1.0   5   5    1  NN_nn_CwN  True

In [76]:
table2=df.pivot_table(values='nn_time', index=['function','method'] ,columns=['experiment','freq'])

In [77]:
print(table2.to_csv(float_format='%.3f'))

experiment,,exp1,exp1,exp1,exp1,exp1,exp1,exp1,exp2,exp2,exp2,exp2,exp2,exp2,exp2,exp3,exp3,exp3,exp3,exp3,exp3,exp3,exp4,exp4,exp4,exp4,exp4,exp4,exp4
freq,,1.0,5.0,10.0,20.0,30.0,40.0,50.0,1.0,5.0,10.0,20.0,30.0,40.0,50.0,1.0,5.0,10.0,20.0,30.0,40.0,50.0,1.0,5.0,10.0,20.0,30.0,40.0,50.0
function,method,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Rastrigin,NN_nn_CwN,10.763,2.154,1.124,0.554,0.364,0.275,,10.941,2.144,1.129,0.551,0.371,0.278,,11.046,2.182,1.191,0.555,0.369,0.278,,10.611,2.103,1.079,0.728,0.367,0.275,
Rastrigin,NN_nn_HMu,11.106,2.227,1.117,0.579,0.373,0.283,0.222,10.928,2.224,1.150,0.589,0.371,0.280,0.226,11.081,2.272,1.149,0.757,0.375,0.278,0.285,10.608,2.144,1.074,0.540,0.364,0.272,0.282
Rastrigin,NN_nn_No,10.755,2.136,1.085,0.548,0.360,0.277,0.249,10.951,2.190,1.097,0.564,0.367,0.273,0.253,11.009,2.190,1.090,0.561,0.352,0.269,0.223,10.628,2.139,1.056,0.553,0.359,0.268,0.220
Rastrigin,NN_nn_RI,11.070,2.163,1.117,0.555,0.370,0.377,0.290,10.896,2.189,1.117,0.564,0.368,0.278,0.222,11.174,2.225,1.124,0.550,0.372,0.283,0.226,10.517,2.124,1.076,0.549,0.347,0.274,0.219
Rastrigin,NN_nn_Rst,10.970,2.197,1.081,0.544,0.493,0.267,0.218,10.817,2.166,1.073,0.544,0.362,0.270,0.218,11.644,2.323,1.137,0.556,0.359,0.270,0.218,10.719,2.147,1.072,0.539,0.358,0.267,0.219
Rosenbrock,NN_nn_CwN,10.658,2.122,1.079,0.539,0.366,0.270,,10.772,2.167,1.140,0.543,0.370,0.273,,10.859,2.193,1.194,0.555,0.368,0.278,,10.803,2.113,1.082,0.529,0.361,0.265,
Rosenbrock,NN_nn_HMu,10.826,2.197,1.106,0.558,0.372,0.283,0.221,10.878,2.216,1.163,0.572,0.369,0.279,0.224,10.839,2.194,1.108,0.572,0.378,0.277,0.224,10.674,2.152,1.107,0.541,0.372,0.277,0.289
Rosenbrock,NN_nn_No,10.862,2.206,1.091,0.545,0.368,0.274,0.231,10.823,2.173,1.101,0.547,0.364,0.274,0.254,10.754,2.175,1.092,0.569,0.365,0.272,0.225,10.554,2.163,1.108,0.547,0.364,0.269,0.218
Rosenbrock,NN_nn_RI,10.921,2.173,1.087,0.561,0.378,0.277,0.285,10.982,2.186,1.104,0.558,0.380,0.274,0.220,11.087,2.166,1.082,0.547,0.362,0.277,0.220,10.598,2.233,1.102,0.545,0.362,0.285,0.222
Rosenbrock,NN_nn_Rst,11.020,2.182,1.095,0.550,0.362,0.268,0.221,10.896,2.208,1.085,0.558,0.364,0.268,0.219,11.429,2.248,1.090,0.548,0.364,0.271,0.220,11.575,2.197,1.076,0.547,0.358,0.267,0.219
Sphere,NN_nn_CwN,10.757,2.136,1.067,0.535,0.360,0.271,,10.827,2.164,1.171,0.540,0.366,0.276,,10.875,2.210,1.182,0.545,0.364,0.276,,10.519,2.100,1.139,0.530,0.352,0.265,
Sphere,NN_nn_HMu,10.814,2.220,1.100,0.559,0.377,0.285,0.219,10.752,2.183,1.139,0.576,0.367,0.270,0.216,10.717,2.162,1.125,0.572,0.374,0.281,0.219,10.610,2.209,1.181,0.557,0.375,0.274,0.286
Sphere,NN_nn_No,10.952,2.211,1.128,0.560,0.376,0.280,0.236,10.830,2.988,1.098,0.539,0.366,0.273,0.255,10.682,2.170,1.088,0.552,0.361,0.268,0.228,10.643,2.152,1.074,0.540,0.365,0.270,0.225
Sphere,NN_nn_RI,10.981,2.179,1.111,0.562,0.376,0.278,0.290,11.229,2.186,1.504,0.548,0.377,0.277,0.282,10.903,2.136,1.082,0.544,0.368,0.273,0.219,10.653,2.188,1.101,0.550,0.368,0.279,0.225
Sphere,NN_nn_Rst,10.932,2.213,1.110,0.555,0.360,0.269,0.219,11.031,2.188,1.082,0.544,0.361,0.269,0.219,10.988,2.213,1.075,0.545,0.362,0.269,0.221,11.523,2.318,1.091,0.546,0.358,0.267,0.216