In [7]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline
from denn import *
import pandas as pd
import io #Used as buffer

In [8]:
path= Path(f'../../data/cluster_results')

In [16]:
def read_csv(f):
    df = pd.read_csv(f).mean()
    df['std'] = pd.read_csv(f).std().iloc[0] #remove this line to remove std from table

    df['experiment'] = f.parent.parent.parent.name
    df['function'] = f.parent.parent.name
    name = f.parent.name
    df['freq'] = int(name[4:].split('n')[0])
    #df['method'] = f.name.split('_')[0]
    if 'noNN' in f.name:
        df['method'] = f.name.split('_')[0]       
    else:
        df['method'] = f.name.split('_')[0]+'_'+f.name.split('_')[1]
    df['ns']=int(name[19:].split('n')[0])
    df['tw']=name[25:].split('nn')[0] 
    if df['tw']=='None':
        df['bs']=int(name[34:].split('n')[0])
        df['epochs']=int(name[43:]) 
    else:
        df['bs']=int(name[31:].split('n')[0])
        df['epochs']=int(name[40:][0])
    return df

measure_name=['mof','sr','arr','nfe','nn_time']
index_measure=0

In [18]:
m = measure_name[index_measure]

files = list(f for f in path.glob(f'exp*/*/freq1*nn_s*nn_tw*bs*/*{m}.csv') if 'NNnorm_Worst' in f.name) #path.glob(f'exp*/*/freq1*nn_s*nn_tw*bs*/*{m}.csv')
#print(files)
df = pd.DataFrame([read_csv(f) for f in files])
# data = pd.pivot_table(df, index=['experiment','function'], columns='method', values=m) #,'freq' later for adding frequency experiment
data = pd.pivot_table(df, index=['experiment','function','freq','ns','tw', 'bs','epochs' ],columns='method' ) #,'freq' later for adding frequency experiment, ,values=m 'ns','tw', 'bs','epochs'
data.style.format("{:,.2f}")

In [19]:
final_data = data[m].copy()

for col in data[m].columns:
    final_data[col] = data[m][col].apply(lambda x: f'{x:,.2f} (±') + data['std'][col].apply(lambda x: f'{x:,.2f})')
final_data

method                                                      NNnorm_Worst
experiment function   freq ns tw bs epochs
exp1       rastrigin  1    2  5  4  3                      16.11 (±4.86)
           rosenbrock 1    2  5  4  3             71,776.33 (±82,255.12)
                           3  5  4  3             55,612.46 (±42,666.96)
           sphere     1    2  5  4  3                       7.15 (±4.94)
exp2       rastrigin  1    2  5  4  3                       1.96 (±0.20)
           rosenbrock 1    2  5  4  3                      67.30 (±8.00)
                           3  5  4  3                      53.91 (±5.41)
           sphere     1    2  5  4  3                       0.11 (±0.01)
exp3       rastrigin  1    2  5  4  3                      14.32 (±3.33)
           rosenbrock 1    2  5  4  3                 3,249.71 (±962.82)
                           3  5  4  3               3,151.37 (±1,077.17)
           sphere     1    2  5  4  3                       4.73 (±0.77)
exp4       rastrigin  1    2  5  4  3                      59.93 (±4.74)
           rosenbrock 1    2  5  4  3       9,526,471.55 (±1,478,125.00)
                           3  5  4  3       8,931,594.49 (±1,381,544.24)
           sphere     1    2  5  4  3                      41.35 (±3.53)

In [6]:
print(final_data.to_csv(float_format='%.2f'))

experiment,function,freq,ns,tw,bs,epochs,NNdrop_Random,NNnorm_Random
exp1,rastrigin,1,1,None,4,1,17.52 (±3.06),19.48 (±3.33)
exp1,rastrigin,1,2,5,4,3,21.33 (±3.68),15.47 (±5.47)
exp1,rastrigin,1,3,3,8,3,23.65 (±5.14),16.08 (±4.94)
exp1,rosenbrock,1,1,None,4,1,"106,795.26 (±73,863.33)","27,894.42 (±3,232.93)"
exp1,rosenbrock,1,2,5,4,3,"253,692.23 (±151,509.51)","56,145.15 (±51,920.09)"
exp1,rosenbrock,1,3,3,8,3,"1,257,817.37 (±3,472,667.82)","53,514.38 (±82,063.99)"
exp1,sphere,1,1,None,4,1,12.79 (±3.09),7.92 (±0.80)
exp1,sphere,1,2,5,4,3,13.27 (±6.87),5.80 (±3.67)
exp1,sphere,1,3,3,8,3,16.12 (±13.91),6.35 (±4.48)
exp2,rastrigin,1,1,None,4,1,2.13 (±0.23),2.18 (±0.25)
exp2,rastrigin,1,2,5,4,3,1.82 (±0.17),2.21 (±0.23)
exp2,rastrigin,1,3,3,8,3,2.14 (±0.23),2.59 (±0.34)
exp2,rosenbrock,1,1,None,4,1,99.66 (±29.13),93.84 (±69.27)
exp2,rosenbrock,1,2,5,4,3,130.58 (±35.87),48.69 (±4.76)
exp2,rosenbrock,1,3,3,8,3,271.26 (±67.91),85.94 (±10.02)
exp2,sphere,1,1,None,4,1,0.29 (±0.04),0.20 (±0.03)
exp2,sphere,1,2,5,4,3,0.19 (±0.05),0.09 (±0.00)
exp2,sphere,1,3,3,8,3,0.44 (±0.11),0.11 (±0.01)
exp3,rastrigin,1,1,None,4,1,8.23 (±3.03),12.42 (±3.20)
exp3,rastrigin,1,2,5,4,3,15.77 (±4.33),13.53 (±3.04)
exp3,rastrigin,1,3,3,8,3,14.45 (±4.75),10.60 (±2.83)
exp3,rosenbrock,1,1,None,4,1,"3,652.67 (±65.83)","2,859.88 (±881.91)"
exp3,rosenbrock,1,2,5,4,3,"4,166.39 (±112.07)","3,062.63 (±937.19)"
exp3,rosenbrock,1,3,3,8,3,"1,152.64 (±1,202.85)","2,859.39 (±1,229.04)"
exp3,sphere,1,1,None,4,1,4.38 (±1.19),4.61 (±0.15)
exp3,sphere,1,2,5,4,3,5.28 (±0.11),4.57 (±0.82)
exp3,sphere,1,3,3,8,3,0.84 (±1.06),4.64 (±0.61)
exp4,rastrigin,1,1,None,4,1,84.50 (±4.86),81.22 (±6.01)
exp4,rastrigin,1,2,5,4,3,56.20 (±3.41),93.60 (±4.67)
exp4,rastrigin,1,3,3,8,3,73.45 (±4.73),74.08 (±5.00)
exp4,rosenbrock,1,1,None,4,1,"18,608,960.17 (±2,202,566.18)","15,276,813.02 (±2,108,206.20)"
exp4,rosenbrock,1,2,5,4,3,"16,191,014.43 (±2,191,672.49)","13,182,851.37 (±2,424,159.15)"
exp4,rosenbrock,1,3,3,8,3,"16,180,225.25 (±2,051,769.44)","15,147,881.26 (±2,486,056.94)"
exp4,sphere,1,1,None,4,1,72.35 (±8.26),54.89 (±4.89)
exp4,sphere,1,2,5,4,3,59.04 (±4.85),45.33 (±5.01)
exp4,sphere,1,3,3,8,3,56.13 (±4.23),44.35 (±3.09)

In [38]:
m = measure_name[0]

files = list(path.glob(f'exp*/*/*nn_s2nn_tw5*bs4*/*{m}.csv'))
df = pd.DataFrame([read_csv(f) for f in files])
# data = pd.pivot_table(df, index=['experiment','function'], columns='method', values=m) #,'freq' later for adding frequency experiment
data = pd.pivot_table(df, index=['experiment','function','freq', 'ns', 'tw','bs','epochs'],columns='method' ) #,'freq' later for adding frequency experiment, ,values=m
data.style.format("{:,.2f}")

ValueError: invalid literal for int() with base 10: '0.5'

In [ ]:
print(data.to_csv(float_format='%.2f'))

In [84]:
!pwd

/Users/maryam/DENN/nbs/maryam

In [100]:
data.to_csv('tmp.csv', float_format='%.2f')

In [102]:
!rm tmp.csv

In [51]:
Func_names=['sphere','rastrigin','rosenbrock']
exp_names=['exp1','exp2','exp3','exp4']
frequency=1000
nn_window=5

In [52]:
#Experiment = Enum('Experiment', 'exp1 exp2 exp3 exp4')
#Method = Enum('Methods', 'noNNRestart noNNReval NNnorm NNdrop')
#Mechname:Random, Worst, Closest
measure_name=['mof','sr','arr','nfe','nn_time']
index_measure=0
total=[]
#lables = ['noNNReval', 'NNnorm_Random', 'NNnorm_Worst','NNnorm_Closest','NNdrop_Random', 'NNdrop_Worst', 'NNdrop_Closest']
lables = ['noNNReval', 'NNnorm_Worst', 'NNdrop_Worst']

for experiment in exp_names:
    
    for func in Func_names:
       # path = Path(f'../../data/results/{experiment}/{func}')
        path_in = Path(f'../../data/cluster_results/{experiment}/{func}')
        path = path_in / f'freq{frequency}nn_w{nn_window}nn_p{3}'
        noNNReval= pd.read_csv(path/f'noNNReval_{measure_name[index_measure]}.csv').mean(0).values[0]

        #noNNRestart= pd.read_csv(path/'noNNRestart_mof.csv')

       # NNnorm_Random= pd.read_csv(path/f'NNnorm_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]
       # NNdrop_Random = pd.read_csv(path/f'NNdrop_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]


        NNnorm_Worst= pd.read_csv(path/f'NNnorm_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]
        NNdrop_Worst = pd.read_csv(path/f'NNdrop_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]


       # NNnorm_Closest= pd.read_csv(path/f'NNnorm_Closest_{measure_name[index_measure]}.csv').mean(0).values[0]
       # NNdrop_Closest = pd.read_csv(path/f'NNdrop_Closest_{measure_name[index_measure]}.csv').mean(0).values[0]
        
       # x=np.array([noNNReval.mof, NNnorm_Random.mof, NNnorm_Worst.mof, NNnorm_Closest.mof, NNdrop_Random.mof,NNdrop_Worst.mof,NNdrop_Closest.mof])
        #y=[noNNReval, NNnorm_Random,NNnorm_Worst,NNnorm_Closest,NNdrop_Random, NNdrop_Worst, NNdrop_Closest]
        y=[noNNReval, NNnorm_Worst,NNdrop_Worst]

        total.append(y)
        #print(total)

    #,  index=[Func_names,Func_names]

#df=pd.DataFrame(total, columns=lables,index=['sphere','rastrigin','rosenbrock','sphere','rastrigin','rosenbrock'])
df=pd.DataFrame(total, columns=lables,index=['sphere','rastrigin','rosenbrock','sphere','rastrigin','rosenbrock','sphere','rastrigin','rosenbrock', 'sphere','rastrigin','rosenbrock'])

#pd.options.display.float_format = '{:,.2f}'.format


print(pd.DataFrame.to_csv(df, float_format='%.2f'))


#pd.DataFrame.to_latex(df, multirow=True)    #, float_format="%%.2f" ,, , longtable=True,  bold_rows=True,

,noNNReval,NNnorm_Worst,NNdrop_Worst
sphere,20.86,5.88,10.26
rastrigin,31.97,31.36,30.68
rosenbrock,132878.68,95152.01,196130.84
sphere,0.49,0.23,0.28
rastrigin,2.63,3.09,2.84
rosenbrock,477.63,176.78,199.93
sphere,0.05,5.19,5.24
rastrigin,9.54,6.27,5.16
rosenbrock,106.15,3896.32,4206.74
sphere,114.51,78.15,90.07
rastrigin,180.10,90.70,94.25
rosenbrock,36238911.84,21532833.04,24626277.92

In [101]:
pd.read_csv('tmp.csv')

   experiment    function       NNdrop       NNnorm    noNNReval
0        exp1   rastrigin        30.68        31.36        31.97
1        exp1  rosenbrock    196130.84     95152.01    132878.68
2        exp1      sphere        10.26         5.88        20.86
3        exp2   rastrigin         2.84         3.09         2.63
4        exp2  rosenbrock       199.93       176.78       477.63
5        exp2      sphere         0.28         0.23         0.49
6        exp3   rastrigin         5.16         6.27         9.54
7        exp3  rosenbrock      4206.74      3896.32       106.15
8        exp3      sphere         5.24         5.19         0.05
9        exp4   rastrigin        94.25        90.70       180.10
10       exp4  rosenbrock  24626277.92  21532833.04  36238911.84
11       exp4      sphere        90.07        78.15       114.51

In [53]:
df

               noNNReval  NNnorm_Worst  NNdrop_Worst
sphere      2.085900e+01  5.882522e+00  1.025944e+01
rastrigin   3.197001e+01  3.135821e+01  3.068299e+01
rosenbrock  1.328787e+05  9.515201e+04  1.961308e+05
sphere      4.901408e-01  2.253121e-01  2.824855e-01
rastrigin   2.626830e+00  3.090646e+00  2.835697e+00
rosenbrock  4.776291e+02  1.767826e+02  1.999253e+02
sphere      4.886981e-02  5.188318e+00  5.242722e+00
rastrigin   9.542240e+00  6.269999e+00  5.157696e+00
rosenbrock  1.061483e+02  3.896322e+03  4.206740e+03
sphere      1.145067e+02  7.815408e+01  9.006552e+01
rastrigin   1.800961e+02  9.070184e+01  9.424529e+01
rosenbrock  3.623891e+07  2.153283e+07  2.462628e+07

In [ ]:
#report nn_time
measure_name=['mof','sr','arr','nfe','nn_time']
index_measure=4
total=[]
lables = [ 'NNnorm_Random', 'NNnorm_Worst','NNnorm_Closest','NNdrop_Random', 'NNdrop_Worst', 'NNdrop_Closest']

for experiment in exp_names:
    
    for func in Func_names:
        path = Path(f'../../data/results/{experiment}/{func}')

        NNnorm_Random= pd.read_csv(path/f'NNnorm_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]
        NNdrop_Random = pd.read_csv(path/f'NNdrop_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]


        NNnorm_Worst= pd.read_csv(path/f'NNnorm_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]
        NNdrop_Worst = pd.read_csv(path/f'NNdrop_Worst_{measure_name[index_measure]}.csv').mean(0).values[0]

        NNnorm_Closest= pd.read_csv(path/f'NNnorm_Closest_{measure_name[index_measure]}.csv').mean(0).values[0]
        NNdrop_Closest = pd.read_csv(path/f'NNdrop_Closest_{measure_name[index_measure]}.csv').mean(0).values[0]
        
       # x=np.array([noNNReval.mof, NNnorm_Random.mof, NNnorm_Worst.mof, NNnorm_Closest.mof, NNdrop_Random.mof,NNdrop_Worst.mof,NNdrop_Closest.mof])
        y=[ NNnorm_Random,NNnorm_Worst,NNnorm_Closest,NNdrop_Random, NNdrop_Worst, NNdrop_Closest]
        total.append(y)
        #print(total)


df=pd.DataFrame(total, columns=lables,index=['sphere','rastrigin','rosenbrock','sphere','rastrigin','rosenbrock'])



print(pd.DataFrame.to_csv(df, float_format='%.2f'))
#df